@font-face {
  font-family: MuseoSansCyrl;
  font-weight: 100;
  src: url(../fonts/MuseoSansCyrl-100.otf) format("opentype");
}
@font-face {
  font-family: MuseoSansCyrl;
  font-weight: 300;
  src: url(../fonts/MuseoSansCyrl-300.otf) format("opentype");
}
@font-face {
  font-family: MuseoSansCyrl;
  font-weight: 500;
  src: url(../fonts/MuseoSansCyrl-500.otf) format("opentype");
}
@font-face {
  font-family: MuseoSansCyrl;
  font-weight: 900;
  src: url(../fonts/MuseoSansCyrl-900.otf) format("opentype");
}
@font-face {
  font-family: RoundhandBT;
  font-weight: bold;
  src: url(../fonts/RoundhandBTBold.otf) format("opentype");
}
html {
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #212020;
}
h1 {
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 25px;
  color: #424041;
  text-align: center;
}
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: 100px;
  font-size: 20px;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 300;
}
.uk-navbar-item a {
  color: #212020;
}
.uk-navbar-item a:hover {
  color: #555252;
  text-decoration: none;
}
.uk-logo {
  position: relative;
  padding-left: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 10px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgba(33, 32, 32, 0.9);
}
.uk-logo::before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 63px;
  height: 47px;
  background: url(../images/logo-icon.png);
}
.uk-logo:hover {
  color: rgba(33, 32, 32, 0.9);
}
.uk-logo .tm-logo-main {
  font-family: RoundhandBT, serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
}
.uk-section {
  padding-top: 40px;
}
.uk-button {
  width: 100%;
  padding: 0;
  height: 70px;
  line-height: 70px;
  font-family: "Myriad Pro", MuseoSansCyrl, sans-serif, sans-serif;
  font-size: 18px;
  letter-spacing: 1.26px;
  text-align: center;
  color: #272422;
  border-radius: 50px;
  text-transform: none;
  font-weight: 900;
}
.uk-button-primary {
  background: linear-gradient(to top, #f5985b, #f3b255, #fde28d);
  box-shadow: 0 5px 2px -1px #cb9746;
  border: none;
}
.uk-button-primary:hover,
.uk-button-primary:focus {
  color: #0c0b0a;
  background: linear-gradient(to top, #f48943, #f1a73d, #fddc74);
}
.tm-bg-main {
  background: url(../images/bg-main.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.tm-bg-duslyk {
  background: url(../images/bg-duslyk.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.tm-bg-kit {
  background: url(../images/bg-kit.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.tm-bg-petrovsky {
  background: url(../images/bg-petrovsky.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.tm-bg-pomidor {
  background: url(../images/bg-pomidor.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.tm-bg-serova {
  background: url(../images/bg-serova.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.tm-phone {
  position: relative;
  padding-left: 30px;
}
.tm-phone::before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url(../images/phone-call.png);
}
.tm-sub-h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 60px;
  text-align: center;
}
.tm-pad-rb {
  padding: 0 65px 55px 0;
  border-right: 1px solid rgba(49, 47, 48, 0.3);
  border-bottom: 1px solid rgba(49, 47, 48, 0.3);
  box-sizing: border-box;
}
.tm-pad-lb {
  padding: 0 0 55px 65px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(49, 47, 48, 0.3);
}
.tm-pad-rt {
  padding: 55px 25px 0 0;
  border-right: 1px solid rgba(49, 47, 48, 0.3);
  box-sizing: border-box;
}
.tm-pad-lt {
  padding: 55px 0 0 25px;
  box-sizing: border-box;
}
.tm-panel {
  background: url(../images/bg-panel.png);
  width: 316px;
  height: 314px;
  margin-left: 60px;
  padding: 35px 35px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 100;
  line-height: 2;
}
.tm-panel .tm-line {
  width: 35px;
  height: 1px;
  background-color: rgba(49, 47, 48, 0.5);
}
.tm-panel .tm-time {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 1.2px;
}
.tm-panel .tm-time span {
  font-weight: 500;
}
.tm-img-wrapper {
  width: 108px;
  height: 74px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tm-main {
  width: 72%;
}
.uk-modal-dialog {
  width: 500px;
}
.uk-modal-dialog .uk-modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
}
.uk-modal-dialog h2 {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  color: #4c4849;
  margin: 0 0 15px;
}
.uk-modal-dialog .tm-form-description {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: #a2a2a2;
  margin-bottom: 45px;
}
.uk-modal-dialog .uk-form-label {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  text-align: left;
  color: #514f50;
}
.uk-modal-dialog .uk-form-label span {
  font-size: 20px;
  letter-spacing: 2px;
  color: #a60e10;
}
.uk-modal-dialog .uk-button {
  max-width: 295px;
}
.uk-modal-body {
  padding: 55px 65px;
}
@media (max-width: 1199px) {
  .tm-main {
    width: 100%;
  }
}
@media (max-width: 959px) {
  .tm-panel {
    margin: auto;
    margin-bottom: 20px;
    order: -1;
  }
}
@media (max-width: 639px) {
  .uk-modal-body {
    padding: 55px 25px;
  }
  .uk-modal-body .uk-button {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .uk-modal-body .tm-form-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .uk-modal-body h2 {
    font-size: 22px;
  }
  .tm-pad-rb {
    padding: 30px;
    border: none;
  }
  .tm-pad-lb {
    padding: 30px;
    border: none;
  }
  .tm-pad-rt {
    padding: 30px;
    border: none;
  }
  .tm-pad-lt {
    padding: 30px;
    border: none;
  }
  .tm-img-wrapper {
    justify-content: center;
  }
  .uk-navbar-item,
  .uk-navbar-nav > li > a,
  .uk-navbar-toggle {
    min-height: 60px;
    font-size: 14px;
  }
  .uk-logo {
    font-size: 8px;
  }
  .uk-logo .tm-logo-main {
    font-size: 26px;
  }
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  .tm-sub-h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 424px) {
  .uk-navbar-item,
  .uk-navbar-nav > li > a,
  .uk-navbar-toggle {
    padding: 0;
  }
  .uk-logo {
    padding-left: 60px;
  }
  .tm-panel .tm-time {
    font-size: 22px;
  }
}
@media (max-width: 374px) {
  .uk-logo span {
    display: none;
  }
  .uk-navbar-item,
  .uk-navbar-nav > li > a,
  .uk-navbar-toggle {
    padding: 20px;
  }
}
