.tm-modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.tm-modal .reservation-tunnel {
    position: static;
}

.tm-modal.hidden {
    display: none;
}

.step2 .offers {
    display: none;
}

.step3 .options {
    display: none;
}

