.tm-modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.tm-modal .reservation-tunnel {
    position: static;
}

.tm-modal.hidden {
    display: none;
}

.step2 .offers {
    display: none;
}

.step3 .options {
    display: none;
}

/*playbill*/

.event-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    line-height: 1.42857;
    font-size: 12px;
    color: #373737;

    background-color: #f5f5f5;
}

.event-list * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event-list *:before, .event-list *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event-date {
    margin: 5px 0;
    position: relative;
    background-color: #8a7e7e;
    font-size: 24px;
    color: white;
    padding: 15px 0 15px 40px;
}

.sticky-wrapper .event-date {
    margin-top: 0 !important;
}

.event-date:before, .event-date:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
}

.event-date:before {
    top: -1px;
    border-bottom: dashed 1px #a9a9a9;
}

.event-date:after {
    bottom: -1px;
    border-top: dashed 1px #a9a9a9;
}

.event-list .event-box {
    border-bottom: dashed 1px #a9a9a9;
}

.media-news, .catalogs-links, .page-title, .container-white, .container-red, .container-blue, .event-list .event-box, .calender-box {
    padding: 15px;
}

.event-list .event-box:before, .event-list .event-box:after {
    content: " ";
    display: table;
}

.event-list .event-box:after {
    clear: both;
}

.event-list .event-box .pull-left, .event-list .event-box .pull-right {
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
}

.event-list .picture-holder {
    position: relative;
    margin: 0;
    display: inline-block;
}

.event-list .pennon-box {
    position: absolute;
    top: 5px;
    right: 100%;
    text-align: right;
}

.event-list .pennon-box .pennon {
    position: relative;
    padding: 7px 12px;
    height: 42px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    display: inline-block;
}

.event-list .pennon-box .pennon.white {
    color: #373737;
    z-index: 1;
    background-color: #fff;
}

.event-list .pennon-box .pennon:before, .event-list .pennon-box .pennon:after {
    content: '';
    position: absolute;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.event-list .pennon-box .pennon:before {
    top: 0;
    border-width: 0 21px 21px 0;
}

.event-list .pennon-box .pennon.white:before {
    border-color: rgba(255,255,255,0) #fff rgba(255,255,255,0) rgba(255,255,255,0);
}

.event-list .pennon-box .pennon:after {
    bottom: 0;
    border-width: 0 0 21px 21px;
}

.event-list .pennon-box .pennon.white:after {
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) #fff rgba(255,255,255,0);
}

.event-list a {
    background: transparent;
    color: #428bca;
    text-decoration: none;
}

.event-list img {
    border: 0;
    vertical-align: middle;
}

.event-list .img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.event-list .buttons {
    width: 155px;
    display: inline-block;
    margin: 0;
}

.event-list .buttons .price {
    background-color: #fff;
    border: dashed 1px #ddd;
    margin-bottom: 5px;
    padding-top: 6px;
    text-align: center;
}

.event-list small, .event-list .small {
    font-size: 85%;
}

.event-list .text-muted {
    color: #999;
}

.event-list .buttons .price small {
    display: block;
}

.event-list b, .event-list strong {
    font-weight: bold;
}

.event-list .text-danger {
    color: #d9534f;
}

.event-list .buttons .price strong {
    font-size: 24px;
}

.event-list .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event-list .btn-danger {
    color: #fff;
    background-color: #f34e58;
    border-color: #f34e58;
}

.event-list .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.event-list .btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

.event-list a.btn.btn-primary.btn-block {
    display: none!important;
}

.event-list .media, .event-list .media-body {
    overflow: hidden;
    zoom: 1;
}

.event-list .event-box .media-body {
    margin-top: 20px;
}

.event-list .event-header {
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
}

.event-list h3 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;

    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;

    font-size: 20px;
}

.event-list h3:first-child {
    margin-top: 0;
}

.event-list .event-header h3 {
    margin: 0 0 3px;
}

.event-list .event-header a {
    color: inherit;
}

.event-list p {
    margin: 0 0 10px;
}

.event-list .event-header p {
    margin: 0 0 5px;
}

.event-list .event-header .place-info {
    display: inline-block;
    color: #428bca;
    text-decoration: none;
    border-bottom: dashed 1px #428bca;
    margin: 0 5px;
}

.event-list .text-danger {
    color: #d9534f;
}

.event-list .event-header .info span+span {
    display: inline-block;
    padding-left: 7px;
    margin-left: 7px;
    position: relative;
}

.event-list .event-header .info span+span:before {
    content: "|";
    position: absolute;
    left: -1px;
    top: 0;
}

