html {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #373737;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  color: #212121;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-family: serif;
  font-size: 64px;
  margin-bottom: 0;
}
h2 {
  font-family: serif;
  font-size: 40px;
  margin-bottom: 20px;
}
header {
  z-index: 1000;
}
.uk-container {
  max-width: 1600px;
}
.uk-background-primary {
  background-color: #f34e58;
}
.uk-background-secondary {
  background-color: #428bca;
}
.uk-background-muted {
  background-color: #f5f5f5;
}
.uk-background-default {
  background-color: #ffffff;
}
.uk-button {
  text-transform: none;
  padding: 0 40px;
  font-size: 20px;
  line-height: 54px;
  border-radius: 3px;
}
.uk-button-default {
  color: #373737;
  border-color: #373737;
  border-width: 2px;
}
.uk-button-default:hover {
  color: #373737;
  border-color: #9d9d9d;
}
.uk-navbar-nav > li > a {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}
.uk-navbar-nav > li > a:hover {
  color: #999999;
}
.uk-logo {
  display: block;
  width: 186px;
  height: 60px;
  background: url(../images/logo-light.png) no-repeat;
  -webkit-background-size: 186px 60px;
  background-size: 186px 60px;
  background-position: 0 50%;
}
.tm-navbar-scrolled {
  background-color: #f5f5f5;
}
.tm-navbar-scrolled .uk-navbar-nav > li > a {
  color: #373737;
}
.tm-navbar-scrolled .uk-navbar-nav > li > a:hover {
  color: #9d9d9d;
}
.tm-navbar-scrolled .uk-logo {
  background: url(../images/logo.png) no-repeat;
  background-position: 0 50%;
}
.tm-main {
  position: relative;
  height: 100vh;
  min-height: 480px;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.tm-main::after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.tm-main .tm-main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 2;
  text-align: center;
}
.tm-sub-h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
.tm-panel-horizontal {
  position: relative;
  height: 240px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: block;
  border-radius: 10px;
  padding: 40px;
  color: #373737;
  overflow: hidden;
}
.tm-panel-horizontal .tm-panel-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: all 500ms;
}
.tm-panel-horizontal .tm-panel-header {
  font-size: 30px;
  font-weight: bold;
}
.tm-panel-horizontal .tm-panel-subheader {
  font-size: 24px;
}
.tm-panel-horizontal .tm-panel-subheader span {
  font-weight: bold;
}
.tm-panel-horizontal .tm-panel-place {
  font-size: 20px;
}
.tm-panel-horizontal.tm-inverse {
  background-color: #000000;
  color: #ffffff;
}
.tm-panel-horizontal.tm-inverse:hover {
  color: #ffffff;
}
.tm-panel-horizontal:hover {
  color: #373737;
  text-decoration: none;
}
.tm-panel-horizontal:hover .tm-panel-bg {
  transform: scale(1.2);
}
.tm-featured {
  background-color: #f5f5f5;
}
.tm-content-right {
  position: relative;
  width: 50%;
  margin-left: auto;
  z-index: 10;
}
.tm-advertising {
  font-size: 30px;
}
.tm-advertising h2 {
  position: relative;
  font-size: 48px;
  text-transform: uppercase;
  color: #373737;
  transition: color 1s;
}
.tm-advertising h2::before {
  position: absolute;
  display: block;
  background-color: #428bca;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-5%) skewX(5deg);
  content: '';
  z-index: -1;
  left: 3000px;
  transition: left 1s;
}
.tm-advertising h2.animated {
  color: #ffffff;
}
.tm-advertising h2.animated::before {
  left: 0;
}
.tm-advertising p {
  font-size: 20px;
}
.tm-bg-left {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
  max-width: 60%;
}
.tm-inverse {
  color: #ffffff;
}
.tm-inverse h1,
.tm-inverse h2,
.tm-inverse h3,
.tm-inverse h4,
.tm-inverse h5,
.tm-inverse h6 {
  color: #ffffff;
}
.tm-inverse.uk-button-default,
.tm-inverse .uk-button-default {
  border-color: #ffffff;
  color: #ffffff;
}
.tm-inverse.uk-button-default:hover,
.tm-inverse .uk-button-default:hover,
.tm-inverse.uk-button-default:focus,
.tm-inverse .uk-button-default:focus {
  border-color: #999999;
}
h1 {
  color: #ffffff;
}
.tm-main {
  background-image: url(../images/opera.jpg);
}
