
//

.tm-page {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;

  &__content,
  &__footer {
    position: relative;
    width: 100%;
  }
}

.tm-popover-danger {
  background-color: #fff;
  border-color: $red;

  .popover-body {
    color: $red;
    background-color: rgba(255,0,0,0.15);
  }

  &.bs-popover-bottom .arrow::before {
    border-bottom-color: $red;
  }

  &.bs-popover-bottom .arrow::after {
    border-bottom-color: rgba(255,255,255,0.85);
  }

}

.tm-popover-success {
  background-color: #fff;
  border-color: green;

  .popover-body {
    color: green;
    background-color: rgba(0,255,0,0.15);
  }

  &.bs-popover-bottom .arrow::before {
    border-bottom-color: green;
  }

  &.bs-popover-bottom .arrow::after {
    border-bottom-color: rgba(255,255,255,0.85);
  }

}

.tm-popover-info {
  background-color: #fff;
  border-color: blue;

  .popover-body {
    color: blue;
    background-color: rgba(0,0,255,0.15);
  }

  &.bs-popover-bottom .arrow::before {
    border-bottom-color: blue;
  }

  &.bs-popover-bottom .arrow::after {
    border-bottom-color: rgba(255,255,255,0.85);
  }

}

.tm-btn-link {
  color: $red;

  &:hover, &:focus {
    color: darken($red, 10%);
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f5f5f5;
}

count_i {
  color: $red;
}

button:focus {
  outline: none;
}

// column-count

@media (min-width: 992px) {

  .column-count-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .column-count-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .column-count-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .column-count-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .column-count-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

.currency {
  font-style: italic;
  font-weight: 600;
}

// Sidebar

@media (min-width: 992px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 67px;
    z-index: 1020;
    max-height: calc(100vh - 100px);
    padding: 10px 15px 0;
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;
  }
}

// Styles for inner pages

.content-page {
  line-height: 1.5;

  a:not(.btn) {
    color: $red;

    &:hover, &:focus {
      color: darken($red, 10%);
    }
  }

  h1, h2, h3, h4, h5, h6 {

    a:not(.btn) {
      color: #555;

      &:hover, &:focus {
        color: #999;
      }
    }
  }

  .card {
    height: 100%;
  }

}

.image-link {
  display: block;
  overflow: hidden;
  text-decoration: none;

  img {
    width: 100%;
    transition: all 0.3s linear;
  }

  &:hover img {
    transform: scale(1.1);
  }

}


// Slick slider restyling

.slick-slide {

  img {
    width: 100%;
  }
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    opacity: .75;
    color: #555;
    transition: all 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

.slick-prev {
  left: 0;

  &::before {
    content: "\f053";
  }
}

.slick-next {
  right: 0;

  &::before {
    content: "\f054";
  }
}

// Pagination

.pagination {
  justify-content: center;
}

.page-link {
  color: $red;

  &:hover {
    color: $red;
  }
}

.page-item.active .page-link {
  background-color: $red;
  border-color: $red;

  &:hover {
    color: #fff;
  }
}


// Table responsive

@media (max-width: 767px) {
  .tm-table-responsive {
    display: block;

    tbody, th, td, tr {
      display: block;
    }

    thead {
      display: none;
    }

    tr + tr {
      margin-top: 10px;
    }
  }
}