
//

.tm-page {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;

  &__content,
  &__footer {
    position: relative;
    width: 100%;
  }
}

.tm-btn-link {
  color: #e40000;

  &:hover, &:focus {
    color: darken(#e40000, 10%);
  }
}

// Styles for inner pages

.content-page {
  line-height: 1.5;

  a:not(.btn) {
    color: #e40000;

    &:hover, &:focus {
      color: darken(#e40000, 10%);
    }
  }

  h1, h2, h3, h4, h5, h6 {

    a:not(.btn) {
      color: #555;

      &:hover, &:focus {
        color: #999;
      }
    }
  }

  .card {
    height: 100%;
  }

}

.image-link {
  display: block;
  overflow: hidden;
  text-decoration: none;

  img {
    width: 100%;
    transition: all 0.3s linear;
  }

  &:hover img {
    transform: scale(1.1);
  }

}


// Slick slider restyling

.slick-slide {

  img {
    width: 100%;
  }
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    opacity: .75;
    color: #555;
    transition: all 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

.slick-prev {
  left: 0;

  &::before {
    content: "\f053";
  }
}

.slick-next {
  right: 0;

  &::before {
    content: "\f054";
  }
}

// Pagination

.pagination {
  justify-content: center;
}

.page-link {
  color: #e40000;

  &:hover {
    color: #e40000;
  }
}

.page-item.active .page-link {
  background-color: #e40000;
  border-color: #e40000;
}


// Table responsive

@media (max-width: 767px) {
  .tm-table-responsive {
    display: block;

    tbody, th, td, tr {
      display: block;
    }

    thead {
      display: none;
    }

    tr + tr {
      margin-top: 10px;
    }
  }
}