.ui-datepicker {

  .ui-datepicker-prev,
  .ui-datepicker-next {
    border: 0;
    width: 9px;
    height: 16px;
    background: url(../images/left.png) no-repeat 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    cursor: pointer;

    span {
      display: none;
    }
  }

  .ui-datepicker-next {
    background-image: url(../images/right.png);
    left: auto;
    right: 16px;
  }
}

.ui-widget-header {
  border: 1px solid #999;
  background: #999;
}

.ui-button,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
html .ui-button.ui-state-disabled:active,
html .ui-button.ui-state-disabled:hover {
  border-color: #ddd;
  background: #fff;
  color: #555;
  text-align: center;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #999;
  border-color: #999;
}

