.order-review {

  &-title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
  }

  &-text {
    font-size: 14px;
  }

  &-passengers {

    .order-passenger-info {
      padding-bottom: 0;
    }

    .order-passenger-top h6 span {
      border-bottom-color: inherit;
    }
  }
}