.ticket-filter {

  &-close {
    display: none;
  }

  &-sliders {
    padding-bottom: 20px;
  }

  &-slider {
    position: relative;
    margin-bottom: 30px;
  }

  .min, .max {
    position: absolute;
    top: 115%;
    font-size: 12px;
    font-weight: 700;
  }

  .min {
    left: 5px;
  }

  .max {
    right: 5px;
  }

  .vue-slider-rail {
    position: relative;
    height: 7px;
    margin: 0 9px;
  }

  .vue-slider-dot {
    position: absolute;
    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
    border: 5px solid #d81818;
    background: #fff;
    cursor: pointer;
  }

  .vue-slider-dot-handle-focus {
    border-color: #d81818;
    box-shadow: 0 0 0 5px #d65a4a;
  }

  .vue-slider-process {
    background-color: #555;
    border: 1px solid #999;
  }

  .vue-slider:hover .vue-slider-process {
    background-color: #555;
  }

  .vue-slider-process {
    background-color: #555;
  }

  .vue-slider:hover .vue-slider-dot-handle:hover {
    border-color: transparent;
  }

  .vue-slider:hover .vue-slider-dot-handle-focus {
    border-color: transparent;
  }

  .vue-slider:hover .vue-slider-dot-handle {
    border-color: transparent;
  }

  .vue-slider-dot-handle:hover {
    border-color: transparent;
  }

  //.ui-slider {
  //  position: relative;
  //  height: 7px;
  //  margin: 0 9px;
  //  background: #ebebeb;
  //
  //  .ui-slider-handle {
  //    position: absolute;
  //    width: 18px;
  //    height: 18px;
  //    border-radius: 50%;
  //    border: 5px solid #d81818;
  //    background: #fff;
  //    margin: -3px 0 0 -9px;
  //    cursor: pointer;
  //  }
  //
  //  .ui-slider-range {
  //    position: absolute;
  //    height: 100%;
  //    background: #555;
  //  }
  //
  //  .min, .max {
  //    position: absolute;
  //    top: 15px;
  //    z-index: 1000;
  //    font-size: 12px;
  //    font-weight: 700;
  //  }
  //
  //  .min {
  //    left: -5px;
  //  }
  //  .max {
  //    right: -5px;
  //  }
  //}

  &-param {
    margin-bottom: 10px;

    h4 {
      text-align: left;
    }

    ul {
      position: relative;
      padding-left: 0;
      list-style: none;
      text-align: left;
      overflow: hidden;

      > li {
        display: none;

        &:first-child, &:nth-child(2), &:nth-child(3) {
          display: block;
        }
      }

      &.tm-active {

        > li {
          display: block;
        }
      }

      &.tm-close {

        &::after {
          content: '';
          background-image: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 40px;
        }
      }
    }

    .chal {
      margin-bottom: 10px;
    }
  }

  &-apply {
    margin-top: 20px;
    display: none;
  }

  &-more {
    display: none;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: $red;
    }

    .hide-more {
      display: none;
    }

    &.tm-active {

      .show-more {
        display: none;
      }

      .hide-more {
        display: block;
      }
    }
  }

  &-clear {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #6c757d;

    &:hover, &:focus {
      color: #494f54;
    }
  }
}

//.slider_lock {
//
//  .ui-slider-handle:last-child {
//    left: 100% !important;
//  }
//}

.btn-filter {
  display: none;
  position: sticky;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1030;
  background-color: #fff;
  border-color: $red;
  color: $red;

  &:hover, &:focus {
    border-color: darken($red, 10%);
    color: darken($red, 10%);
  }

  &.filter-active {
    padding-left: 35px;

    &::before {
      content: "\f111";
      position: absolute;
      top: 8px;
      left: 16px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 10px;
      line-height: 19px;
      color: #c70000;
    }
  }
}

@media (max-width: 991px) {

  .btn-filter {
    display: inline-block;
  }

  .ticket-filter {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 20px 20px;
    overflow-y: auto;
    background-color: #fff;

    &:not(.show) {
      display: none;
    }

    &-close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &-apply {
      display: block;
    }
  }
}
