.des-route-table {
  border: 1px solid #ccc;
}

.des-route-item {
  position: relative;
  border-top: 1px solid #ccc;
}

.des-route-item-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.station-image {
  width: 140px;
  height: 140px;
  margin-right: 50px;
}

.station-name {
  margin-bottom: 5px;

  span {
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
  }
}


.station-links {
  display: flex;
  margin-bottom: 5px;
  font-size: 12px;
  a {
    font-weight: 700;

    &.link-more {
      font-size: 12px;
      text-decoration: underline dashed;
      font-weight: 500;
    }
  }

  > * {
    margin-right: 10px;
  }
}

.station-description {
  font-size: 12px;
  font-style: italic;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;

  .station-distance {
    margin-right: 20px;

    span {
      font-weight: 700;
    }
  }
}

.station-text {
  padding-top: 10px;
  font-size: 14px;
}

.route-item-controls {
  height: 100%;
  width: 150px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .btn {
    width: 100%;
  }

  .tm-btn-red:not(.collapsed) {
      background-color: #fff;;
      border-color: #901f25;
      color: #901f25;
  }
}

.route-rail {
  position: absolute;
  display: block;
  width: 6px;
  background-color: #555;
  left: 175px;

  &::before {
    position: relative;
    display: block;
    left: -6px;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 6px solid #555;
    border-radius: 50px;
  }

  &.active::before {
    border-color: #901f25;
  }
}

.route-rail-start {
  top: 15%;
  bottom: -1px;

  &::before {
    top: -6px;
    border-color: #901f25;
    background-color: #901f25;
  }
}

.route-rail-full {
  top: -1px;
  bottom: -1px;

  &::before {
    top: 24px;
  }
}

.route-rail-end {
  top: -1px;
  bottom: 85%;

  &::before {
    top: 24px;
    border-color: #901f25;
    background-color: #901f25;
  }
}

//.des-route-header {
//  background-color: #ccc;
//  font-size: 14px;
//  font-weight: 700;
//  padding: 5px 0;
//  white-space: nowrap;
//}

//.time-route {
//  display: flex;
//  justify-content: space-between;
//}

//.station-checkbox {
//  width: 15px;
//  box-sizing: border-box;
//}

//.des-route-item-footer {
//  background-color: #eee;
//  padding-top: 20px;
//  padding-bottom: 20px;
//}
